[project]
name = "kombucha-business"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pandas>=2.3.3",
    "sqlalchemy>=2.0.45",
    "streamlit>=1.52.2",
]
